/* The base of every button */
.btn {
  display: inline-block;
  text-decoration: none;
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 1.42857143;
  padding: 6px 12px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  white-space: nowrap;
  color: #fff;
  vertical-align: middle;
}

/* Additional styles for "Default" */
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-default:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-primary {
  background: #337ab7;
  border: #2e6da4;
}

.btn-primary:hover {
  background: #286090;
  border: #204d74
}

/*Success
      background » #5cb85c
      border » #4cae4c

    Success - hover
      background » #449d44
      border » #398439

    Info
      background » #5bc0de
      border » #46b8da

    Info - hover
      background » #31b0d5
      border » #269abc

    Warning
      background » #f0ad4e
      border » #eea236

    Warning - hover
      background » #ec971f
      border » #d58512
    
    Danger 
      background » #d9534f
      border » #d43f3a

    Danger - hover
      background » #c9302c
      border » #ac2925 */
.btn-success {
  background: #5cb85c;
  border: #4cae4c;
}

.btn-success:hover {
  background: #449d44;
  border: #398439;
}

.btn-info {
  background: #5bc0de;
  border: #46b8da;
}

.btn-info:hover {
  background: #31b0d5;
  border: #269abc;
  
}

.btn-warning {
  background: #f0ad4e;
  border: #d58512;
  
}

.btn-warning:hover {
  background: #ec971f;
  border: #d58512;
  
}

.btn-danger {
  background: #d9534f;
  border: #d43f3a;

}


.btn-danger:hover {
  background: #c9302c;
  border: #ac2925;
}